
<SCRIPT LANGUAGE="JavaScript">
<!--
var d = new Date(); var h = d.getHours();
if (h<1) var greetings = "#%time_0%#";
else if (h<2) var greetings = "#%time_1%#";
else if (h<3) var greetings = "#%time_2%#";
else if (h<4) var greetings = "#%time_3%#";
else if (h<5) var greetings = "#%time_4%#";
else if (h<6) var greetings = "#%time_5%#";
else if (h<7) var greetings = "#%time_6%#";
else if (h<8) var greetings = "#%time_7%#";
else if (h<9) var greetings = "#%time_8%#";
else if (h<10) var greetings = "#%time_9%#";
else if (h<11) var greetings = "#%time_10%#";
else if (h<12) var greetings = "#%time_11%#";
else if (h<13) var greetings = "#%time_12%#";
else if (h<14) var greetings = "#%time_13%#";
else if (h<15) var greetings = "#%time_14%#";
else if (h<16) var greetings = "#%time_15%#";
else if (h<17) var greetings = "#%time_16%#";
else if (h<18) var greetings = "#%time_17%#";
else if (h<19) var greetings = "#%time_18%#";
else if (h<20) var greetings = "#%time_19%#";
else if (h<21) var greetings = "#%time_20%#";
else if (h<22) var greetings = "#%time_21%#";
else if (h<23) var greetings = "#%time_22%#";
else var greetings = "#%time_23%#";
-->
</script>

<script language="JavaScript1.2">
<!--
var line=new Array();
#%recently_added_items%#
// -->
</script>
<script type='text/javascript' src='#%site_url%#/files/scroll.js'></script>




<div id="simple_page" style="display:#%show_simple%#;width:900px;border:0px;PADDING-TOP:50px;FONT-SIZE:30px;TEXT-TRANSFORM: uppercase;" align="center">
<img border="0" src="#%logo_url%#"><br><br>

#%hide_country_begin%#Hello to the #%this_country%#&nbsp;&nbsp;<img border="0" src="#%this_flag_large%#" style="margin-bottom:-10px;">#%hide_country_end%#
<br><br>

<SCRIPT LANGUAGE="JavaScript">
<!--
current_time = new Date();
hours = current_time.getHours();
document.write(greetings);
-->
</script>!
<br><br><br>
<div class="recently_added">
<table width="100%" cellpadding="0" cellspacing="0" style="padding:20px;font-size:15px;">
<tr>
<td align="left" nowrap width="160">RECENTLY&nbsp;ADDED</td>
<td align="left" width="740"><div id="recently_added" style="text-align:left"></div></td>
</tr>
</table>
</div>
<br><br>
<form method="get" action="#%site_url%#/search.php">
<input type="hidden" name="action" value="shared_simple">
<input type="hidden" name="search_kind" value="and">
<table border="0" width="700" cellspacing=0 cellpadding=10 style="FONT-SIZE:15px;" align="center">
<tr>
<td align="center" nowrap rowspan="3"><img src="#%site_url%#/images/icon_search_large.png"></td>
<td align="center" nowrap>
<input name="phrase" maxlength=50 class="field13" style="width:300px;height:32px;FONT-SIZE:20px;">&nbsp;<select name="bigboss" class="field13" style="width:300px;height:40px;FONT-SIZE:20px;">
#%search_options%#
</select>
</td>
</tr>
<tr><td align="center" nowrap><input type="submit" value="Search" name="B1" class="button13" style="width:150px;height:37px;FONT-SIZE:20px;"></td></tr>
<tr><td align="center" nowrap><a href="#%site_url%#/search.php">ADVANCED SEARCH</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#page_top" onclick="show_hide_div_id(0,'simple_page');show_hide_div_id(1,'complete_page');">SHOW ALL SITE OPTIONS</a></td></tr>
</table>
</form>
</div>







<div id="complete_page" style="display:#%show_complete%#;">

<script type="text/javascript">
<!--
img1 = new Image(); img1.src = "#%site_url%#/images/icon_folder_1.gif";
img2 = new Image(); img2.src = "#%site_url%#/images/icon_folder_2.gif";
img3 = new Image(); img3.src = "#%site_url%#/images/icon_folder_3.gif";
img4 = new Image(); img4.src = "#%site_url%#/images/icon_folder_4.gif";
img5 = new Image(); img5.src = "#%site_url%#/images/icon_folder_5.gif";
-->
</script>

#%head%#



<br style="line-height:5px" />

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td width="100%" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="right_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
</tr>
<tr>
<td class="left_column">

#%in1%#


</td>
<td class="cell_middle">

<div id="home_1">
<div class="outer-center">
#%hide_country_begin%#<div class="inner-center" style="margin:5px;margin-top:0px;"><img border="0" src="#%this_flag%#" style="height:50px;"></div>#%hide_country_end%#
<div class="inner-center" style="margin:5px;"><SCRIPT LANGUAGE="JavaScript">
<!--
document.write(greetings);
-->
</script>#%hide_country_begin%# to #%this_country%##%hide_country_end%#!
</div> 
<div class="inner-center" style="margin:5px;margin-top:0px;border:0px solid red;"><SCRIPT LANGUAGE="JavaScript">
<!--
var current_time = new Date();
hours = current_time.getHours();
document.write('<img src="#%site_url%#/time_info.php?action=image&hour='+hours+'" style="height:50px;">');
-->
</script></div>
</div> 
<div class="clear"></div> 
</div> 
</div>

#%in3%#

#%begin_l%#
<a name="l_categories"></a>
<div class="common_div_main" id="home_2">
<div class="common_div_title">LINKS</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%l_categories%#
</table></div>
</div>
#%end_l%#

#%begin_v%#
<a name="v_categories"></a>
<div class="common_div_main" id="home_3">
<div class="common_div_title">VIDEOS</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%v_categories%#
</table></div>
</div>
#%end_v%#

#%begin_b%#
<a name="b_categories"></a>
<div class="common_div_main" id="home_4">
<div class="common_div_title">BLOGS</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%b_categories%#
</table></div>
</div>
#%end_b%#

#%begin_n%#
<a name="n_categories"></a>
<div class="common_div_main" id="home_5">
<div class="common_div_title">NEWS</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%n_categories%#
</table></div>
</div>
#%end_n%#

#%begin_a%#
<a name="a_categories"></a>
<div class="common_div_main" id="home_6">
<div class="common_div_title">ARTICLES</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%a_categories%#
</table></div>
</div>
#%end_a%#

<!-- example of a group of categories
<div class="common_div_title">group 2</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%x_categories_group_2%#
</table></div>
<br />
-->

<div class="common_div_main" id="home_13">
<div class="common_div_title">Icons in categories</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
<tr><td align="center" valign="middle">
<img alt="" border="0" src="#%site_url%#/images/icon_folder_1.gif"> New last #%icon_folder_t1%# day&nbsp;&nbsp;
<img alt="" border="0" src="#%site_url%#/images/icon_folder_2.gif"> New last #%icon_folder_t2%# days&nbsp;&nbsp;
<img alt="" border="0" src="#%site_url%#/images/icon_folder_3.gif"> New last #%icon_folder_t3%# days&nbsp;&nbsp;
<img alt="" border="0" src="#%site_url%#/images/icon_folder_4.gif"> New last #%icon_folder_t4%# days&nbsp;&nbsp;
<img alt="" border="0" src="#%site_url%#/images/icon_folder_5.gif"> Other folders
</td></tr>
</table></div>
</div>
</div>

<div class="common_div_main" id="home_13">
<div class="common_div_title">Bookmark and share #%site_name%#</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
<tr><td align="center" valign="middle">
#%share_it%#</td></tr>
</table></div>
</div>
</div>

<div></div>

<a name="recently_added_home"></a>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top" width="50%" style="padding-right:8px;">

#%begin_l%#
<div class="common_div_main" id="home_7">
<div class="common_div_title">Latest Links</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%l_new_items%#
</table></div>
</div>
#%end_l%#

#%begin_b%#
<div class="common_div_main" id="home_9">
<div class="common_div_title">Latest Blogs</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%b_new_items%#
</table></div>
</div>
#%end_b%#

#%begin_n%#
<div class="common_div_main" id="home_11">
<div class="common_div_title">Latest News</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%n_new_items%#
</table></div>
</div>
#%end_n%#

</td>
<td align="right" valign="top" width="50%" style="padding-left:8px;">

#%begin_v%#
<div class="common_div_main" id="home_8">
<div class="common_div_title">Latest Videos</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%v_new_items%#
</table></div>
</div>
#%end_v%#

#%begin_a%#
<div class="common_div_main" id="home_10">
<div class="common_div_title">Latest Articles</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%a_new_items%#
</table></div>
</div>
#%end_a%#

#%hide_rss_content_begin%#
<div class="common_div_main" id="home_12">
<div class="common_div_title">World News</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%rss_content%#
</table></div>
</div>
#%hide_rss_content_end%#

</td>
</tr>
</table>




#%hide_site_news_begin%#
<div class="common_div_main">
<div class="common_div_title">Site News</div>
<div class="common_div_content"><table border="0" width="100%" cellpadding="0" cellspacing="0">
#%site_news%#
<tr><td align="right" nowrap><a href="#%site_url%#/site_news.php">More news >>></a>&nbsp;&nbsp;</td></tr>
</table></div>
</div>
</div>
#%hide_site_news_end%#

</td>

<td class="right_column">

#%in2%#

</td></tr></table>

</div>



