<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=#%charset%#">
<title>#%meta_title%#</title>
<meta name="description" content="#%meta_description%#">
<meta name="keywords" content="#%meta_keywords%#">
</head>

<frameset rows="110,*" cols="1*" border="0">
<frame name="top" scrolling="no" marginwidth="0" marginheight="0" src="#%site_url%#/link_in_frame.php?action=top&amp;n=#%n%#&amp;c=#%c%#" noresize>
<frame name="bottom" scrolling="auto" marginwidth="0" marginheight="0" src="#%url%#">

<noframes>
</noframes>

</frameset>
</html>
