
<body leftmargin="0" topmargin="0" rightmargin="0" marginheight="0" marginwidth="0">
<div class="common_div_main">
<div class="common_div_title">#%title%#</div>
<div class="common_div_content"><table border="0" width="100%" cellpadding="0" cellspacing="0" style="height:200px;">
<tr>
<td align="center" valign="middle" height="55">
<a target="_top" href="#%item_details_url%#">Show link details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Category: <a target="_top" href="#%category_url%#">#%category_name%#</a>&nbsp;&nbsp;
<br />
 #%hide_previous_cat_begin%##%previous_category%#&nbsp;#%hide_previous_cat_end%# #%hide_next_cat_begin%#&nbsp;#%next_category%##%hide_next_cat_end%#<br />
 #%hide_previous_begin%##%previous%#&nbsp;#%hide_previous_end%# #%hide_next_begin%#&nbsp;#%next%##%hide_next_end%#<br />
</td></tr></table></div>
</div>
<img alt="" width="0" height="0" border="0" src="#%site_url%#/track_click.php?link=#%n%#">
