
#%head%#




<div class="div_navigation">
<a href="#%site_url%#/index.php">Home</a> >> <h1>Link Submitted</h1>
</div>

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td width="100%" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="right_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
</tr>
<tr>
<td class="left_column">

#%in1%#


</td>
<td class="cell_middle">

#%in3%#


<div class="common_div_main">
<div class="common_div_title">Link Submitted. Thank You!</div>
<div class="common_div_content">

<table cellspacing="0" cellpadding="2" width="100%" border="0" class="inside_table">
#%row_title%#
#%row_url%#
#%row_recip_url%#
#%row_description%#
#%row_detail%#
#%row_map%#
#%row_rss_url%#
#%row_categories%#
#%row_user_defined%#
#%row_keywords%#
#%row_dates%#
#%row_name%#
#%row_email%#
#%row_images%#
#%row_password%#
#%row_number%#
</table>

</div>
</div>

</td>

<td class="right_column">

#%in2%#

</td></tr></table>


