
#%head%#




<div class="div_navigation">
<a href="#%site_url%#/index.php">Home</a> >> <h1>User Options</h1>
</div>

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td width="100%" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="right_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
</tr>
<tr>
<td class="left_column">

#%in1%#


</td>
<td class="cell_middle">

#%in3%#


<div class="common_div_main">
<div class="common_div_title">User Options</div>
<div class="common_div_content"><table border="0" width="100%" cellpadding="5" cellspacing="0" class="inside_table">

<tr><td align="left"><a href="#%user_url%#"><b>Click here</b></a> for your personal page in our directory</td></tr>

<tr><td align="left"><a href="#%site_url%#/user.php?action=user_edit"><b>Update your profile</b></a></td></tr>

<tr><td align="left"><a href="#%site_url%#/adlinks.php?action=adlink_create"><b>Create a new AdLink</b></a><br>AdLinks can be used to advertise your site. These are displayed in categories and search results, at the top of the right column of our pages. You pay only when someone clicks to an AdLink. AdLinks offer a very effective way to advertise your online business.</td></tr>

#%begin_l%#
<tr><td align="left"><a href="#%site_url%#/link_create.php"><b>Create a new link</b></a><br>Use this link to add a new link to our directory.</td></tr>
<tr><td align="left"><a href="#%site_url%#/link_edit.php?action=links_list"><b>Your links</b></a><br>You can review & edit all your existing links and also review statistics. There is also the option to purchase and add new clicks, impressions, days for existing links.</td></tr>
#%end_l%#

<tr><td align="left"><a href="#%site_url%#/user.php?action=user_adlinks"><b>Your AdLinks</b></a><br>You can review & edit all your existing AdLinks, you also can purchase new clicks.</td></tr>

<tr><td align="left"><a href="#%site_url%#/user.php?action=user_orders"><b>Your orders</b></a></td></tr>

<tr><td align="left"><a href="#%site_url%#/link_extra_features.php?action=funds_add"><b>Purchase new funds</b></a><br>Add funds to your account. These funds can be used to add extra features to your links.</td></tr>

#%begin_a%#
<tr><td align="left"><a href="#%site_url%#/article_create.php"><b>Create a new article</b></a></td></tr>
<tr><td align="left"><a href="#%site_url%#/article_edit.php?action=articles_list"><b>Your articles</b></a></td></tr>
#%end_a%#

#%begin_b%#
<tr><td align="left"><a href="#%site_url%#/blog_create.php"><b>Create a new blog</b></a><br></td></tr>
<tr><td align="left"><a href="#%site_url%#/blog_edit.php?action=blogs_list"><b>Your blogs</b></a></td></tr>
#%end_b%#

<tr><td align="left"><a href="#%site_url%#/user.php?action=user_friends"><b>Your friends</b></a></td></tr>

<tr><td align="left"><a href="#%site_url%#/user.php?action=user_wall"><b>Your wall</b></a></td></tr>

<tr><td align="left"><a href="#%site_url%#/user.php?action=user_favorites"><b>Your bookmarks</b></a></td></tr>

<tr><td align="left"><a href="#%site_url%#/user.php?action=user_log_off"><b>Log off</b></a></td></tr>
</table></div>
</div>

</td>

<td class="right_column">

#%in2%#

</td></tr></table>


