
#%head%#




<div class="div_navigation">
<a href="#%site_url%#/index.php">Home</a> >> <a onMouseover="window.status='Previous page'; return true" onMouseout="window.status=' '; return true" href="javascript: history.go(-1)">Previous Page</a> >> <h1>Reminder</h1>
</div>

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td width="100%" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;" class="right_column"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
</tr>
<tr>
<td class="left_column">

#%in1%#


</td>
<td class="cell_middle">

#%in3%#


#%info%#

<div class="common_div_main">
<div class="common_div_title">Reminder</div>
<div class="common_div_content">

<form action="#%site_url%#/user.php" method="post">
<input type="hidden" name="action" value="user_reminded">
<table cellspacing="0" cellpadding="2" width="100%" border="0" class="inside_table">
<tr><td align="center">Please enter you email to the form below.<br />Your password will be sent to this email.</td></tr>
<tr><td align="center"><input class="field10" maxlength="255" style="width:500px" name="email"></td></tr>
<tr><td align="center" colspan=3><input type="submit" value="Submit" name="B1" class="button10"></td></tr>
</table></form>

</div>
</div>

</td>

<td class="right_column">

#%in2%#

</td></tr></table>


