.image_preview_out {
	position:relative;
}
.image_preview_in {
	display:none;
	position:absolute;
	top:-200px;
	left:-150px;
	z-index:100;
}
.outer-center { 
    float: right; 
    right: 50%; 
    position: relative; 
    z-index:1;
} 
.inner-center { 
    float: right; 
    right: -50%; 
    position: relative; 
    font-size:30px;
    z-index:1;
} 
.clear { 
    clear: both; 
} 
